body {
    background-color: #fff;
    height: 100vh !important;
    margin: auto 0px;
}


ul {
    display: block;
    padding: 0px !important;
    font-size: 24px !important;
}

.iconTwitter {
    color: rgb(29, 155, 240) !important;
    margin-bottom: 30px !important;
    font-size: 36px !important;
    margin-left: 30px;
}

.icerikList {
    text-decoration: none !important;
    list-style: none !important;
    padding: 10px 0px 10px 0px;
    color: #000000 !important;
    width: 200px;
    margin-top: 10px !important;
}

    .icerikList:hover {
        text-decoration: none !important;
        list-style: none !important;
        padding: 10px 0px 10px 0px;
        background-color: #dadada;
        width: 200px;
        border-radius: 50px;
        margin-top: 10px !important;
    }

a {
    white-space: nowrap;
    color: #000000 !important;
    list-style: none !important;
    text-decoration: none !important;
    padding:30px !important;
}

    a:active {
        white-space: nowrap;
        color: #000000 !important;
        font-weight: 700;
        list-style: none !important;
        text-decoration: none !important;
    }
.buttonTweetleDis {
    text-decoration: none !important;
    list-style: none !important;
    margin-top:10px !important;
}
.buttonTweetle {
    background-color: rgb(29, 155, 240);
  
    padding: 10px 0px 10px 0px;
    color: #fff !important;
    width: 200px;
    border-radius: 50px;
}
