
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/sayfa.css" rel="stylesheet" />

<div >
  
        <div class="sutun pt-2">
            <div class="sutun-header">
                <div class="row">
                    <i class="fab fa-twitter  bodyTwetter fa-2x"></i>
                    <p class="kullanici">Macit Saribay</p>
                    <img src="~/images/turkBayragi.png" class="bayrak" />
                    <p class="kullanici">Macitbay</p>
                    <p>Takipçi : <b>12670<b /></p>

                </div>
            </div>
            <hr />
            <div class="sutun-body">
                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" name="name" value="" />

                    </div>
                    <div class="col-11">
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
            <div class="sutun-footer">
                <i class="far fa-star"></i>
                <i class="far fa-trash-alt"></i>
                <i class="fas fa-project-diagram"></i>
            </div>
        </div>
        <div class="sutun pt-2">
            <div class="sutun-header">
                <div class="row">
                    <i class="fab fa-twitter  bodyTwetter fa-2x"></i>
                    <p class="kullanici">Macit Saribay</p>
                    <img src="~/images/turkBayragi.png" class="bayrak" />
                    <p class="kullanici">Macitbay</p>
                    <p>Takipçi : <b>12670<b /></p>

                </div>
            </div>
            <hr />
            <div class="sutun-body">
                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" name="name" value="" />

                    </div>
                    <div class="col-11">
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
            <div class="sutun-footer">
                <i class="far fa-star"></i>
                <i class="far fa-trash-alt"></i>
                <i class="fas fa-project-diagram"></i>
            </div>
        </div>
        <div class="sutun pt-2">
            <div class="sutun-header">
                <div class="row">
                    <i class="fab fa-twitter  bodyTwetter fa-2x"></i>
                    <p class="kullanici">Macit Saribay</p>
                    <img src="~/images/turkBayragi.png" class="bayrak" />
                    <p class="kullanici">Macitbay</p>
                    <p>Takipçi : <b>12670<b /></p>

                </div>
            </div>
            <hr />
            <div class="sutun-body">
                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" name="name" value="" />

                    </div>
                    <div class="col-11">
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
            <div class="sutun-footer">
                <i class="far fa-star"></i>
                <i class="far fa-trash-alt"></i>
                <i class="fas fa-project-diagram"></i>
            </div>
        </div>
        <div class="sutun pt-2">
            <div class="sutun-header">
                <div class="row">
                    <i class="fab fa-twitter  bodyTwetter fa-2x"></i>
                    <p class="kullanici">Macit Saribay</p>
                    <img src="~/images/turkBayragi.png" class="bayrak" />
                    <p class="kullanici">Macitbay</p>
                    <p>Takipçi : <b>12670<b /></p>

                </div>
            </div>
            <hr />
            <div class="sutun-body">
                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" name="name" value="" />

                    </div>
                    <div class="col-11">
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
            <div class="sutun-footer">
                <i class="far fa-star"></i>
                <i class="far fa-trash-alt"></i>
                <i class="fas fa-project-diagram"></i>
            </div>
        </div>
    </div>



