
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Twitter Login</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/popper/umd/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-tr_TR.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/lib/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.js"></script>
    <script src="~/lib/jquery-inputmask/inputmask.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="container icerik ">
        <div class="test">
            <div class="icerikLogin">
                <form>
                    <div class="form-group ">
                        <center>
                            <i class="fab fa-twitter   iconTwitter"></i>
                        </center>
                        <br />
                        <span class="loginBaslik">
                            Twitter'a giriş yap
                        </span>
                    </div>

                    <div class="form-group">
                        <input class="form-control inputStyle" type="text" name="login" id="" placeholder="Telefon, E-posta veya Kullanıcı Adı" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control inputStyle" type="password" name="password" id="Sifre" placeholder="Şifre" required>
                    </div>
                    <div class="form-group">
                        <a href="/Home/Index" class="btn btn-block btnLogin">Giriş Yap</a>
                    </div>
                    @*<div class="form-group">
                            <input type="checkbox" id="Goster" class="custom-control-input" onclick="hideShow()" />
                            <label class="custom-control-label" for="Goster">
                                Şifreyi Gör
                            </label>
                        </div>*@
                    <center>
                        <a href="#" class="linkStyle ">Şifreni mi Unuttun?</a>

                        <a href="#" class="linkStyle">Twitter'a kaydol</a>
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
